/* searchInput.module.scss */

.searchInputWrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto; // Center the input horizontally
  }
  
  .textField {
    flex-grow: 5; // Adjust this value based on your layout needs
    flex-basis: 0; // Start at 0 and grow
    background-color: white;
    border-radius: 10px;
    margin-bottom: 0;
  
    /* Targeting MUI's internal classes via nested structure */
    .MuiOutlinedInput-root {
      fieldset {
        border-color: #F2F3F4;
        border-width: 2px;
      }
  
      &:hover fieldset {
        border-color: #F2F3F4;
        border-width: 2px;
      }
  
      &.Mui-focused fieldset {
        border-color: #F2F3F4;
        border-width: 2px;
      }
    }
  }
  