.title{
    font-size: 20px ;
    font-weight: 500;
    color: #494949;
}
.subTitle{
    font-size: 14px ;
    font-weight: 500;
    color: #A2A7AF;
    margin-top: 10px;
}
.inputTitle{
    font-size: 14px ;
    color: #494949;  
    text-align: start;
    margin-bottom: 15px;
}